<div class="container gx-0">
  <div
    class="top-bar d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-md-between">
    <div class="contact-info mb-2 mb-md-0">
      <span class="d-block d-md-inline">
        <a href="mailto:info@aberdurepharma.com" class="text-white text-decoration-none">
          <i class="bi bi-envelope-at-fill"></i> info&#64;aberdurepharma.com
        </a>
      </span>
      <span class="d-block d-md-inline ms-md-3">
        <a href="tel:+911234567890" class="text-white text-decoration-none">
          <i class="bi bi-telephone-fill"></i> +91-1234567890
        </a>
      </span>
    </div>
    <div class="social-media mt-2 mt-md-0 ms-md-auto">
      <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
      <a href="#" class="me-2"><i class="bi bi-twitter-x"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid">
      <a class="logo-text" href="#"><span class="a-letter">A</span>berdure <span class="p-letter">P</span>harma</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Facility</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="mb-5 position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
          aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay"></div>
          <img
            src="https://images.pexels.com/photos/14797855/pexels-photo-14797855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100" alt="Pharma Image 1">
        </div>
        <div class="carousel-item">
          <div class="overlay"></div>
          <img
            src="https://images.pexels.com/photos/8657358/pexels-photo-8657358.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100" alt="Pharma Image 2">
        </div>
        <div class="carousel-item">
          <div class="overlay"></div>
          <img
            src="https://images.pexels.com/photos/4031321/pexels-photo-4031321.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100" alt="Pharma Image 3">
        </div>
        <div class="carousel-item">
          <div class="overlay"></div>
          <img
            src="https://images.pexels.com/photos/8442825/pexels-photo-8442825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100" alt="Pharma Image 4">
        </div>
        <div class="carousel-item">
          <div class="overlay"></div>
          <img
            src="https://images.pexels.com/photos/7447002/pexels-photo-7447002.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="d-block w-100" alt="Pharma Image 5">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="header-content text-center position-absolute top-50 start-50 translate-middle">
      <img src="assets/logo/aberdure-pharma-logo.png" alt="Aberdure Pharmaceuticals Logo" class="logo">
      <h1>Welcome To Aberdure Pharmaceuticals</h1>
      <p class="lead mb-5">Aberdure Pharmaceuticals is an Indian pharmaceutical company that specializes in
        manufacturing &
        marketing of pharmaceutical products. It was founded in 2021 and is headquartered in New Delhi, India</p>
    </div>
  </header>

  <section class="mb-5">
    <h2>Mission</h2>
    <p>To reach Maximum People and touch millions of lives.</p>
  </section>

  <section class="mb-5">
    <h2>Vision</h2>
    <p>To provide best quality medicines at accessible prices.</p>
  </section>

  <section class="mb-5">
    <h2>Innovative F&D</h2>
    <p>A Best Research & development center of new medicines</p>
  </section>

  <section class="mb-5">
    <h2>Reliable Quality Control</h2>
    <p>Advanced quality control lab with specialized testing equipment</p>
  </section>

  <section class="mb-5">
    <h2>Observation & Development</h2>
    <p>We enable FnD & provide solutions for your requirement.</p>
  </section>

  <section class="mb-5">
    <h2>Manufacturing</h2>
    <p>We maintain and manufacture high standards quality product.</p>
  </section>

  <section class="mb-5">
    <h2>Packaging</h2>
    <p>Our team ensures your requirement are met and fulfill.</p>
  </section>

  <section class="mb-5">
    <h2>Logistics</h2>
    <p>We ensure to safe, contactless and timely delivery.</p>
  </section>

  <section class="mb-5">
    <h2>Our Facility</h2>
    <ul>
      <li>1.8+ Billion Tablets</li>
      <li>360+ Million Capsules</li>
      <li>30+ Million Tubes</li>
    </ul>
  </section>

  <section class="mb-5">
    <h2>Production Unit</h2>
    <p>We can develop, manufacture & pack tablets, capsules, ointments & creams</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </section>

  <section class="mb-5">
    <h2>Utilities</h2>
    <p>Our Plant comprises of an advanced fire detection and suppression system</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </section>

  <section class="mb-5">
    <h2>Quality Control</h2>
    <p>We have advanced quality control lab with a range of specialized testing equipment</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </section>

  <section class="mb-5">
    <h2>Gallery</h2>
    <p>Some images of our plant, production-unit, quality control, etc...</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </section>

  <section class="mb-5">
    <h2>Accreditation</h2>
    <p>Our plant is designed to meet international regulatory requirement & standards.</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </section>

  <section class="mb-5">
    <h2>Why Choose Aberdure</h2>
    <ul>
      <li>Experience & Reputation</li>
      <li>Scalability & Flexibility</li>
      <li>Research & Development</li>
      <li>Infrastructure & Technology</li>
      <li>Regulatory Compliance</li>
      <li>Customer Focus</li>
      <li>Reachability</li>
    </ul>
  </section>

  <section class="mb-5">
    <h2>Our Clients</h2>
    <p>Stay Safe</p>
    <p>Prevent Others From Infection</p>
  </section>

  <footer class="mt-5">
    <h3>Pages Link</h3>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Domestic Products</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Career</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Condition</a></li>
      <li><a href="#">Login / Register</a></li>
    </ul>

    <h3>Corporate Office Address</h3>
    <p>Manufacturing Plant Address</p>
    <p>Plot No. 2000, Rai Industrial Area, Sector 38, Sonipat, Haryana</p>
    <p>Copyright © 2024</p>

    <h3>Follow Us</h3>
    <div class="social-media">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
    </div>
  </footer>
</div>