/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family:  "Source Serif 4", serif;
    src: url('assets/fonts/Source_Serif_4/static/SourceSerif4-SemiBold.ttf') format('truetype');
    font-weight: 600;
}